---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title={"404"} header_title={"404"} header_punc="!?">
	<div id="text">
		<p><strong>Page not found</strong></p>
		<p>Use the navbar to fix this situation. Alternatively you can recheck the url or contact the author.</p>
	</div>
</Layout>